//-
   @author Brian lamb
   @website http://bleedingedgewebsites.com
   @date: 12/1/13
   @time: 12:07 AM
   @description Jade template

!!!5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/main.min.css')
    //-script(src='/js/jStrap.js')
  body
    block header

    block content

    block footer

