div#tabbable
  ul.nav.nav-tabs
    li.active
      a(href="#tab1",data-toggle="tab") Section 1
    li
      a(href="#tab2",data-toggle="tab") Section 2

div.tab-content
  div#tab1.tab-pane.active
    p I'm in section 1

  div#tab2.tab-pane
    p Howdy, I'm in section 2